<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td width="100%">
          <div style="max-width:600px;Margin:0 auto">
            <table
              align="center"
              cellpadding="0"
              cellspacing="0"
              style="border-spacing:0;font-family:gt-eesti,ArialMT,Helvetica,Arial,sans-serif;Margin:0 auto;padding:24px;width:100%;max-width:500px"
            >
              <tbody>
                <tr>
                  <td>
                    <table style="margin-bottom:40px;width:100%" width="100%">
                      <tbody>
                        <tr>
                          <td>
                            <a
                              href="http://comme-un-cactus.com/"
                              style="font-family:Helvetica,Arial,sans-serif;color:#1d6e21"
                              target="_blank"
                            >
                              <h4>Comme-un-cactus.com</h4>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="text-align:justify;word-break:break-word">
                    <table style="margin-bottom:20px;width:100%" width="100%">
                      <tbody>
                        <tr>
                          <td>
                            <table
                              style="width:100%;margin-bottom:20px"
                              width="100%"
                              cellpadding="0"
                              cellspacing="0"
                            >
                              <tbody>
                                <tr>
                                  <td>
                                    <h3 style="font-family:Helvetica,Arial,sans-serif;color:#1d6e21">Bonjour <%= first_name %>, </h3>
                                    
                                    <h3
                                      style="font-size:26px;line-height:30px;color:#1d6e21;word-break:normal"
                                    >
                                    Un nouveau mot de passe a été généré pour vous suite à votre de demande. 
                                    </h3>
                                    <h3 style="font-size:26px;line-height:30px;color:#1d6e21;word-break:normal">
                                      Votre nouveau mot de passe est le suivant : 
                                      <p style="font-size:26px;line-height:30px;color:#031f04;word-break:normal"><%= new_password %></p>
                                    </h3>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h3>Cordialement</h3>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table width="100%" style="margin-bottom:20px;width:100%">
                      <tbody>
                        <tr>
                          <td width="100%">
                            <div
                              style="width:100%;height:1px;background-color:#ddd"
                              color="#DDD"
                              width="100%"
                            ></div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td style="text-align:center;font-size:13px">
                    <span style="color:#1d6e21">|</span>
                  </td>
                </tr>
                <tr>
                  <td style="text-align:center">
                    <table
                      style="max-width:100%;width:100%;text-align:center;font-family:ArialMT,Arial,sans-serif"
                      cellspacing="0"
                      cellpadding="0"
                    >
                      <tbody>
                        <tr>
                          <td style="text-align:center">
                            <p
                              style="font-size:10px;color:#1d6e21;text-align:center;padding:0;margin-top:10px;margin-bottom:2px"
                            >
                              commeuncactus.su@gmail.com (Merci de ne pas répondre à ce mail)
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>